.idea
spine_clouds/
venv/
__pycache__/
tmpDb/
.polyaxon
butta.py
buttavero.py
output/
temp_sanity_check/
wandb/
check_points/model_spine_rigid.best.t7
raycastedSpineClouds/
bone_segmentation_utils/results/
checkpoints/
bone_segmentation_utils/data/
pointnet2/build/
pointnet2/dist/
spine1/
spine10/ts_1_0/full_gt_pc.txt
database/
bone_segmentation_utils/data.zip
*.DS_store
